.card{
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px rgba(128, 128, 128, 0.205);
}
.list-user-item{
    position: relative;
    height: 130px;
    width: 110px;
    border-radius: 8px;
    //margin-right: 18px;
}
.card-img-top{
    border-radius: 5px  5px  0 0px;
    height: 63%;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #909090;
    font-size: 13px;
    border-radius: 8px;
}
 .list-user-item .tick-icon{
    position: absolute;
    right: 3px;
    top:3px;
    color: #6A8ED3;
    display: block;
}
.card-text{
    font-size: 12px;
    text-align: center;
}

@media all and (max-width:782px){
    .card-text{
        font-size: 18px;
    }
}