
.list-user-item{
    position: relative;
    width: 238px;
    height: 210px;
    border-radius: 8px;
    //margin-right: 18px;
}
.card-img-top{
    border-radius: 5px 5px 0 0;
    height: 70%;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #909090;
    
    font-size: 13px;
    //background: red;
}
@media all and (max-width:782px){
    .list-user-item{
        position: relative;
        width: 320px;
        height: 340px;
        border-radius: 8px;
        //margin-right: 18px;
    }
    .card-text{
        font-size: 20px;
    }
}